ul, li, p, button{
  margin: 0;
  padding: 0;
  }


  /* Слайдер */
  .slick-slider{
    display: flex;
    min-width: 0;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;

  }

  .slick-initialized .slick-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-width: 0;
  }


  /* Ограничивающая оболочка */
  .slick-list {
    width: 100%;

  }
  /* Лента слайдов */
  .slick-track{
  }
  /* Слайд */
  .slick-slide{
  }
  /* Слайд активный (показывается) */
  .slick-slide.slick-active{
}



  /*.slider{
    content: "";
    background-image: url(./imeges/“.png) ;
    width: 54px;
    height: 40px;
    z-index: 20;

  }*/
  .slider__imeg{
  margin-bottom: 16px;
  }


  .slider__text-wraper{
    background: #FAFAFA;;
    width: 94%;
    margin-bottom: 16px;

  }

  .slider__text::before{
    position: absolute;
    top: -77px;
    left: 38px;
    content: " \275E";
    font-size: 113px;
    color: #E1E1E1;
    opacity: .4;

  }
  .slider__text {
    padding: 43px 58px 26px 65px;
    display: flex;
    align-items: center;
    position: relative;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 2.58;
    text-align: center;
    letter-spacing: 0.04em;
    color: #000000;
    text-decoration: underline;
    text-decoration-style: 1px solid;
    text-decoration-color: #E1E1E1;
    text-underline-offset: 6px;

  }
  /*.sliter__text::after {
      width: calc(100% - 100px);
      background: repeating-linear-gradient(#e1e1e1 1px,rgba(0,0,0,0) 3px,rgba(0,0,0,0) 31px);
      margin: 0 auto;
      position: absolute;
      top: 74px;
      bottom: 0;
      left: 50px;
      right: 50px;
  }*/

  .slider__decor-wraper{
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
  }

  .slider__decor-item {
    margin-right: 10px;
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #C7133E;
  }
  .slider__decor-item:last-child{
    margin-right: 0;
  }

  .slider__text-city {
  position: relative;
    margin-bottom: 16px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.85;
    text-align: center;
    color: #000000;
  }


  /* Точки (булиты) */
  .slick-dots{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
  }
  .slick-dots li{
    list-style: none;
    margin-right: 18px;
  }

  .slick-dots li:last-child{
    margin-right: 0;
  }

  /* Элемент точки */
   .slick-dots li button{
    font-size: 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #D9D9D9;
    border: none;
  }
  /* Активная точка */
  .slick-dots li.slick-active button{
    background-image: url("./imeges/Vector.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #fff;
  }